<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="margin-top: 20px; margin-bottom: 100px ">
  <div class="row">
    <div class="col-sm-3">
      <span class="fa-stack fa-lg">
        <i class="fa fa-car fa-stack-1x fa-4x"></i>
        <i class="fa fa-wrench fa-stack-1x fa-4x text-danger"></i>
      </span>
    </div>
    <div class="col-sm-9">
      <h1>
        Welcome to {{title}}!
      </h1>
    </div>
  </div>
</div>
<h2 class="text-center">Cars list: </h2>

<cars-list><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></cars-list>

